<h1 mat-dialog-title>{{titleForm}}</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName="firstname" matInput placeholder="Saisir le Nom">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input formControlName="lastname" matInput placeholder="Saisir le Prénom">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addUser()">{{actionButton}}</button>
</div>
